* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: "Segoe UI";
  src: url();
}
h1, h2, h3, h4, h5, h6, p, a, li, span {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

h2 {
  color: #3AA6B9;
  font-weight: bold;
  text-align: center;
}

p {
  color: white;
}

h4 {
  color: #3AA6B9;
  text-align: center;
}

h5 {
  color: black;
}

.btn-rosa a {
  color: #FF9EAA !important;
}
.btn-rosa a:hover {
  color: gray !important;
}

.boton-principal {
  background-color: #3AA6B9;
  border: none;
  border-radius: 2px;
  padding: 10px;
  color: white;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-weight: bold;
}
.boton-principal:hover {
  transform: scale(1.1, 1.1);
}

button[type=submit] {
  background-color: #3AA6B9;
  border: none;
  padding: 10px;
  border-radius: 20px;
  color: white;
}

.btn-secundario {
  margin-top: 8px;
  padding: 5px;
  background-color: #3AA6B9;
  color: white;
  text-decoration: none;
  border-radius: 5px;
  text-align: center;
}

.carousel-indicators {
  list-style-type: none;
}

.container-fluid {
  margin-top: 30px;
}

.w-100 {
  object-fit: cover;
}

.info-extra {
  display: flex;
  margin: 30px;
}

.celda {
  display: flex;
  align-items: center;
  padding: 15px;
  border-left: 1px solid gray;
  border-right: 1px solid gray;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 0.8em;
}
.celda img {
  width: 20px;
  margin-right: 20px;
}

footer .nav-item {
  color: gray;
  text-decoration: none;
}
footer .nav-link {
  color: gray !important;
}
footer .nav-link:hover {
  color: #FF9EAA !important;
}

.iconos {
  display: inline;
  height: 15px;
  margin-right: 5px;
}

.mapa {
  width: 150px;
}

input[type=search] {
  background-color: #3AA6B9;
  border: none;
  border-radius: 2px;
  padding: 10px;
  color: white;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-weight: bold;
}
input[type=search]::placeholder {
  color: white;
  text-align: center;
}

input[type=text] {
  border: none;
  border-bottom: 1px solid gray;
  padding-block: 5px;
  padding-inline: 5px 20px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: medium;
}

input[type=email] {
  border: none;
  border-bottom: 1px solid gray;
  padding-block: 5px;
  padding-inline: 5px 20px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: medium;
}

input[type=tel] {
  border: none;
  border-bottom: 1px solid gray;
  padding-block: 5px;
  padding-inline: 5px 20px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: medium;
}

form select {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: medium;
  padding: 2px;
  border-color: gray;
  border-radius: 5px;
  color: gray;
}
form textarea {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: medium;
  width: 100%;
  padding: 8px;
  border-radius: 5px;
}

header {
  position: sticky;
  top: 0px;
  width: 100%;
  z-index: 1000;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  background-color: rgb(248, 249, 250);
}

nav ul {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  list-style-type: none;
  padding: 10px 25px;
  margin: 0;
}
nav img {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.navbar-expand-lg .navbar-collapse {
  justify-content: flex-end;
}

.nav-link a {
  color: black;
  text-decoration: none;
}
.nav-link:hover {
  color: gray;
}

.subnav, .subnav-mini {
  background-color: #3AA6B9;
  border: none;
  padding: 10px;
  display: none;
  position: absolute;
  right: 1px;
}
.subnav li, .subnav-mini li {
  padding: 0px 15px;
}
.subnav a, .subnav-mini a {
  color: white;
  text-decoration: none;
}

.section-principal {
  height: 100vh;
  background-size: cover;
  background-attachment: local;
  background-repeat: no-repeat;
  background-position: center;
  display: flex;
  align-items: center;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  color: white;
}
.section-principal div {
  padding-left: 10vw;
}

section a {
  color: white;
  text-decoration: none;
}

.img-index {
  background-image: url("../assets/images/fotos/mujer-dos-perros-jugando-parque.jpg");
}

.img-contact {
  background-image: url("..//assets/images/fotos/lindo-perrito-haciendose-pasar-persona-negocios.jpg");
}

.img-productos {
  background-image: url("../assets/images/fotos/primer-plano-jack-russell-terrier.jpg");
}

.img-nosotros {
  background-image: url("../assets/images/fotos/boxer-aleman-blanco-unico.jpg");
}

.img-descanso {
  background-image: url("../assets/images/fotos/closeup-adorable-bulldog-sleeping-pillows-garden-sunny-day.jpg");
}

.img-viajes {
  background-image: url("../assets/images/fotos/perro-lindo-maletero-coche.jpg");
}

.img-paseos {
  background-image: url("../assets/images/fotos/vista-lindo-perro-disfrutando-tiempo-naturaleza-parque.jpg");
}

.img-higiene {
  background-image: url("../assets/images/fotos/lavar-perro-mascota-casa.jpg");
}

.img-comederos {
  background-image: url("../assets/images/fotos/hermoso-perro-dalmata-comiendo.jpg");
}

.img-juguetes {
  background-image: url("../assets/images/fotos/perro-lindo-feliz-masticando-palo.jpg");
}

.contact-section {
  margin: 20px;
  width: 90%;
  justify-content: space-evenly;
  display: flex;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: large;
  color: gray;
}
.contact-section img {
  width: 30%;
  object-fit: cover;
}

#cuestionario {
  display: flex;
  flex-direction: column;
  width: 50%;
  justify-content: center;
  border: 1px solid #3AA6B9;
  border-radius: 10px;
  padding: 5px 4vw;
}
#cuestionario div {
  display: flex;
  justify-content: space-between;
  margin: 20px 0;
}

.parrafo {
  padding: 10px;
  margin-top: 20px;
  color: #3AA6B9;
}

.los-nuestros {
  background: rgb(147, 206, 216);
  background: radial-gradient(circle, rgb(147, 206, 216) 18%, rgb(255, 255, 255) 86%, rgb(252, 252, 252) 100%);
}
.los-nuestros img {
  width: 20%;
  margin: 30px;
}

.product-section {
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: small;
  border: 1px solid #3AA6B9;
  border-radius: 5px;
  width: 80%;
  margin: 50px auto;
}

.product-img {
  margin: 10px;
}
.product-img img {
  max-width: 230px;
  height: auto;
}

.img-previs {
  display: flex;
  justify-content: space-around;
}
.img-previs img {
  max-width: 100px;
  height: auto;
}

.product-info {
  display: grid;
  justify-content: center;
  padding: 10px;
}
.product-info div {
  display: flex;
  align-items: center;
}
.product-info img {
  margin-left: 50px;
}
.product-info a {
  color: black;
}
.product-info a:hover {
  color: gray;
  cursor: pointer;
}
.product-info form input[type=number] {
  width: 35px;
  color: gray;
}

.options {
  display: flex;
  justify-content: space-around;
  margin: 5px 0px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: small;
}

.card-content {
  display: flex;
  flex-wrap: wrap;
  padding: 0px 20px;
  justify-content: center;
}

.card {
  border: 1px solid #3AA6B9;
  border-radius: 5px;
  padding: 5px;
  margin: 15px 15px;
  display: grid;
  justify-items: center;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: small;
}
.card img {
  width: 180px;
}
.card p {
  border: 1px solid #3AA6B9;
  margin-bottom: 4px;
  border-radius: 2px;
  padding: 3px;
}
.card a:hover {
  border: 1px solid gray;
}

.vetana-emergente {
  display: none;
  position: fixed;
  z-index: 1000;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.5);
  text-align: center;
}
.vetana-emergente__content {
  background-color: #fefefe;
  margin: 15% auto;
  padding: 20px;
  border: 1px solid #888;
  border-radius: 10px;
  width: 80%;
  max-width: 600px;
  position: relative;
}
.vetana-emergente__content__text {
  display: flex;
  flex-direction: column;
  width: 100%;
  font-size: larger;
}
.vetana-emergente__content__text p {
  margin-top: 1rem;
  margin-bottom: 0.2rem;
}

.close {
  color: #aaa;
  position: absolute;
  top: 0;
  right: 0;
  margin: 10px;
  font-size: 20px;
  font-weight: bold;
}
.close:hover {
  color: black;
  text-decoration: none;
  cursor: pointer;
}
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

/*# sourceMappingURL=main.css.map */
