.parrafo{
    padding: 10px;
    margin-top: 20px;
    color: $color-celeste;
}
.los-nuestros{
    background: rgb(147,206,216);
    background: radial-gradient(circle, rgba(147,206,216,1) 18%, rgba(255,255,255,1) 86%, rgba(252,252,252,1) 100%);
    width: 100%;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
    img{
        width: 20%;
        margin: 2vw;
        @include responsive(tablet-l){
            width:25%;  
        }
        @include responsive(tablet-s){
            width:40%;  
        }
        @include responsive(phone){
            width:70%;  
        }

        
    }
}