.parrafo{
    padding: 10px;
    margin-top: 20px;
    color: $color-celeste;
}
.los-nuestros{
    background: rgb(147,206,216);
    background: radial-gradient(circle, rgba(147,206,216,1) 18%, rgba(255,255,255,1) 86%, rgba(252,252,252,1) 100%);
    img{
        width: 20%;
        margin: 2vw;
        @include responsive(tablet-s){
            width:25%;  
        }
        
    }
}