.vetana-emergente{
    display: none ;
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.5);
    text-align: center;
    &__content{
        background-color: #fefefe;
        margin: 15% auto;
        padding: 20px;
        border: 1px solid #888;
        border-radius: 10px;
        width: 80%;
        max-width: 600px;
        position: relative;
        &__text{
            display: flex;
            flex-direction: column;
            width: 100%;
            font-size: larger;
            p{
                margin-top: 1rem;
                margin-bottom: 0.2rem;
            }
            .credito{
                width: 70%;
                max-width: 300px;
                margin-left: 0;
            }
            .sin-interes{
                width: 50%;
                max-width: 170px;
                margin-left: 0;
            }
            .debito{
                width: 30%;
                max-width: 120px;
                margin-left: 0;
            }
        }   
    }
}
.close  {
    color: #aaa;
    position: absolute;
    top: 0;
    right: 0;
    margin: 10px;
    font-size: 20px;
    font-weight: bold;
    &:hover{
        color: $color-negro;
        text-decoration: none;
        cursor: pointer;
    }
    &:focus{
        color: $color-negro;
        text-decoration: none;
        cursor: pointer;
    }
  }