.info-extra{
    display: flex;
    margin: 30px;
    justify-content: center;
    @include responsive(tablet-s){
        flex-direction: column;
    }
}

.celda{
    display: flex;
    align-items: center;
    padding: 15px;
    border-left: 1px solid $color-gris;
    border-right: 1px solid $color-gris;
    font-family: 'Poppins';
    font-size: 0.8em;
    img{
        width: 20px;
        margin-right: 20px;
    }
}
