input[type="search"]{
    background-color:$color-celeste;
    border: none;
    border-radius: 2px;
    padding: 10px;
    color: $color-blanco;
    font-family: 'Poppins';
    font-weight: bold;
    &::placeholder{
        color: $color-blanco;
        text-align: center;
        }
}
@mixin input-type{
    border: none;
    border-bottom: 1px solid $color-gris;
    padding-block: 5px ;
    padding-inline: 5px 20px;
    font-family: 'Poppins';
    font-size: medium;
    width: 49%;
    @include responsive(tablet-l){
        margin-bottom: 25px;
        width: 100%
    }
    @include responsive(phone){
        font-size: small;

    }

}
input[type="text"]{
    @include input-type();
}
input[type="email"]{
    @include input-type();
}
input[type="tel"]{
    @include input-type();
}
form{
    select{
        font-family: 'Poppins';
        font-size: medium;
        padding: 2px;
        border-color: $color-gris;
        border-radius: 5px;
        color: $color-gris;
        @include responsive(phone){
            font-size: small;
        }
    }
    textarea{
        font-family: 'Poppins';
    font-size: medium;
    width: 100%;
    padding: 8px;
    border-radius: 5px;
    @include responsive(phone){
        font-size: small;
    }
    }

}
label[for="motivo"]{
    font-family: 'Poppins';
    @include responsive(phone){
        font-size: small;
    }

}
