.btn-rosa{
    a{
        color: $color-rosa !important;;
        &:hover{
            color:gray !important;
        }
    }
}
.boton-principal{
    background-color:$color-celeste;
    border: none;
    border-radius: 2px;
    padding: 10px;
    color: white;
    font-family: 'Poppins';
    font-weight: bold;
    &:hover{
        transform: scale(1.1,1.1);
    }
}

button[type="submit"]{
    background-color:$color-celeste ;
    border: none;
    padding: 10px;
    border-radius: 20px;
    color: white;
}
.btn-secundario{
    margin-top: 8px;
    padding: 5px;
    background-color: $color-celeste;
    color: $color-blanco;
    text-decoration: none;
    border-radius: 5px;
    text-align: center;
}
