h1,h2,h3,h4,h5,h6,p,a,li,span{
    font-family: 'Poppins';
    
}
h2{
    color: $color-celeste;
    font-weight: bold;
    text-align: center;
}
p{
    color: $color-negro;
}
h4{
    color: $color-celeste;
    text-align: center;
}
h5{
    color: $color-negro;
}